form[name^='hp'] {
	font-family: monospace;
	position: fixed;
	right: 0;
	bottom: 0;
	display: grid;
	gap: 0.5rem;
	color-scheme: light dark;
	background-color: black;
	color: white;
	padding: 1rem;
	border-top-left-radius: 1rem;

	&::before {
		content: 'haps';
		font-size: x-large;
	}

	& input:not([type='radio']) {
		display: block;
	}
}
